<!DOCTYPE html>
<html lang="ru" ng-app="landauApp">

<head>
    <base href="/">
    <meta charset="utf-8">

    <title>LANDau web UI</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#009688">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#009688">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#009688">
</head>

<body>
<div class="navbar navbar-default" ng-controller='NavigationCtrl'>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-leaf" aria-hidden="true"></i> LANDau</a>
        </div>
        <div class="navbar-right">
            <span class="connection label label-danger" ng-bind="(isConnected()) ? '' : 'Соединение с контроллером потеряно'"></span>
            <span class="connection label label-danger" ng-bind="(controlError()) ? '' : 'Ошибка датчика'"></span>
        </div>
    </div>
</div>

<div class="container content">

    <div class="alert alert-dismissible alert-danger" ng-controller="AlertCtrl" ng-show="visible">
        <button type="button" class="close" ng-click="visible = false;">×</button>
        <div ng-bind-html="messageHtml"></div>
    </div>

    <ng-view></ng-view>
</div>

<!--<div class="modal fade" role="dialog" tabindex="-1" id="fail-connection-dialog">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="alert alert-dismissible alert-danger">-->
            <!--Соединение с контроллером потеряно-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Material Design fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="css/main.min.css">

<script src="libs/mqtt/mqttws31.js"></script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-route/angular-route.min.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>

<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="js/angular/modules/material-bootstrap-angular.js"></script>

<script src="bower_components/masonry/dist/masonry.pkgd.min.js"></script>
<script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>

<script src="js/angular/app.js"></script>
<script src="js/angular/controllers/GreenhouseCtrl.js"></script>
<script src="js/angular/controllers/GreenhousesCtrl.js"></script>
<script src="js/angular/controllers/NavigationCtrl.js"></script>
<script src="js/angular/controllers/alertController.js"></script>
<script src="js/angular/filters/Filters.js"></script>
<script src="js/angular/services/dataService.js"></script>
<script src="js/angular/services/mqttService.js"></script>
<script src="js/angular/services/commonService.js"></script>
<script src="js/angular/services/rpc.js"></script>
<script src="js/angular/services/spinner.js"></script>
<script src="js/angular/services/gotoDefStart.js"></script>
<script src="js/angular/services/pagestate.js"></script>
<script src="js/angular/services/errors.js"></script>
<script src="js/angular/services/ruleSettingsProxy.js"></script>
<script src="bower_components/angular-masonry/angular-masonry.js"></script>

<script src="js/common.js"></script>

<!--<script src="js/scripts.min.js"></script>-->

</body>
</html>
