<div class="panel-body table-responsive" ng-switch on="widget.template">

    <div widget-humidity ng-switch-when="humidity"></div>

    <div widget-temperature ng-switch-when="temperature"></div>

    <div widget-switch ng-switch-when="switch"></div>

    <div widget-air-humidity-rule ng-switch-when="air_humidity_rule"></div>

    <div widget-air-temperature-rule ng-switch-when="air_temperature_rule"></div>

    <div widget-illumination-by-sensor-rule ng-switch-when="illumination_by_sensor_rule"></div>

    <div widget-soil-moisture-rule ng-switch-when="soil_moisture_rule"></div>

    <div widget-soil-temperature-rule ng-switch-when="soil_temperature_rule"></div>

    <div widget-watering_by_schedule_rule ng-switch-when="watering_by_schedule_rule"></div>

    <div ng-switch-default>Неизвестный тип виджета</div>
</div>