<table class="table table-striped">
    <tbody>
    <tr>
        <td> Состояние правила</td>
        <td>
            <span class="label label-success" ng-if="widget.enabled">Активно</span>
            <span class="label label-info" ng-if="!widget.enabled">Не активно</span>
        </td>
    </tr>
    <tr>
        <td>Температура воздуха</td>
        <td>{{widget.controls.slot1.topic.value}} °C</td>
    </tr>
    <tr>
        <td> Обогреватель </td>
        <td>
            <span class="label label-success" ng-if="widget.controls.slot2.topic.value">Включен</span>
            <span class="label label-info" ng-if="!widget.controls.slot2.topic.value">Выключен</span>
        </td>
    </tr>
    <tr>
        <td> Вытяжка </td>
        <td>
            <span class="label label-success" ng-if="widget.controls.slot3.topic.value">Включен</span>
            <span class="label label-info" ng-if="!widget.controls.slot3.topic.value">Выключен</span></td>
    </tr>
    <tr>
        <td> Туманообразователь </td>
        <td>
            <span class="label label-success" ng-if="widget.controls.slot4.topic.value">Включен</span>
            <span class="label label-info" ng-if="!widget.controls.slot4.topic.value">Выключен</span></td>
    </tr>
    <tr>
        <td> {{widget.options.option1.name}}</td>
        <td> {{widget.options.option1.value}} °C</td>
    </tr>
    <tr>
        <td> {{widget.options.option2.name}}</td>
        <td> {{widget.options.option2.value}} °C</td>
    </tr>
    </tbody>
</table>