<table class="table table-striped">
    <tbody>
    <tr>
        <td> Состояние правила</td>
        <td>
            <span class="label label-success" ng-if="widget.enabled">Активно</span>
            <span class="label label-info" ng-if="!widget.enabled">Не активно</span>
        </td>
    </tr>
    <tr>
        <td>Освещённость</td>
        <td>{{widget.controls.slot1.topic.value}} lux</td>
    </tr>
    <tr>
        <td>Осветитель</td>
        <td>
            <span class="label label-success" ng-if="widget.controls.slot2.topic.value">Включен</span>
            <span class="label label-info" ng-if="!widget.controls.slot2.topic.value">Выключен</span></td>
    </tr>
    <tr>
        <td> {{widget.options.option1.name}}</td>
        <td> {{widget.options.option1.value}} lux</td>
    </tr>
    <tr>
        <td> {{widget.options.option2.name}}</td>
        <td> {{widget.options.option2.value1}}:{{widget.options.option2.value2}}</td>
    </tr>
    <tr>
        <td> {{widget.options.option3.name}}</td>
        <td> {{widget.options.option3.value1}}:{{widget.options.option3.value2}} </td>
    </tr>
    </tbody>
</table>