<div class="modal fade" role="dialog" tabindex="-1" id="widget-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" ng-if="action=='add'">Добавление виджета</h4>
                <h4 class="modal-title" ng-if="action=='edit'">Редактирование виджета</h4>
            </div>
            <div class="modal-body">

                <form name="widgetAddForm" novalidate>

                    <div class="form-group">
                        <label class="control-label"  for="widgetName">Название</label>
                        <input type="text" class="form-control" ng-model='widget.name'
                               placeholder="Введите название виджета" required id="widgetName">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="widgetTemplate">Тип виджета</label>
                        <select ng-model="template"
                                ng-change="renderFieldsForTemplate()"
                                ng-options="value.name for (key, value) in widgetTemplates"
                                id="widgetTemplate" required class="form-control">
                            <option value=''>- Выберите тип виджета -</option>
                        </select>
                    </div>

                    <div ng-hide="isEmpty(widget.controls)">
                        <div class="form-group" ng-repeat="control in widget.controls">
                            <label class="control-label"  for="widgetControl{{$index}}">{{template.slots[control.uid]['name']}}</label>
                            <select ng-model="control.topic"
                                    ng-options="control.topic for control in controls | metaTypeFilter:template.slots[control.uid]['type']:widgets:template.uid:widget:action"
                                    id="widgetControl{{$index}}" required class="form-control">
                                <option value=''>- Выберите элемент -</option>
                            </select>
                        </div>
                    </div>

                    <div ng-hide="isEmpty(widget.options)">
                        <p>Параметры</p>
                        <div  ng-repeat="option in widget.options">
                            <div ng-switch on="option.type">

                                <div ng-switch-when="time">
                                    <p class="text-muted">{{template.options[option.uid]['name']}}</p>
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label class="control-label" for="widgetOption1{{$index}}">Часов</label>
                                            <input type="text" class="form-control" id="widgetOption1{{$index}}"
                                                   ng-model='option.value1' placeholder="" required>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <label class="control-label" for="widgetOption2{{$index}}">Минут</label>
                                            <input type="text" class="form-control" id="widgetOption2{{$index}}"
                                                   ng-model='option.value2' placeholder="" required>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-when="date">
                                    <p class="text-muted">{{template.options[option.uid]['name']}}</p>
                                    <div class="row">
                                        <div class="form-group col-xs-4">
                                            <label class="control-label" for="widgetOption3{{$index}}">День</label>
                                            <input type="text" class="form-control" id="widgetOption3{{$index}}"
                                                   ng-model='option.value1' placeholder="1" required>
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label class="control-label" for="widgetOption4{{$index}}">Месяц</label>
                                            <input type="text" class="form-control" id="widgetOption4{{$index}}"
                                                   ng-model='option.value2' placeholder="1" required>
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label class="control-label" for="widgetOption5{{$index}}">Год</label>
                                            <input type="text" class="form-control" id="widgetOption5{{$index}}"
                                                   ng-model='option.value3' placeholder="2017" required>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-default class="form-group">
                                    <label class="control-label" for="widgetOption{{$index}}">{{template.options[option.uid]['name']}}</label>
                                    <input type="text" class="form-control" id="widgetOption{{$index}}"
                                           ng-model='option.value' placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>

                <button type="button" class="btn btn-primary" ng-disabled="!widgetAddForm.$valid"
                        ng-click="widgetAddForm.$valid && addOrUpdateWidget()" ng-if="action=='add'">Добавить</button>

                <button type="button" class="btn btn-warning"
                        ng-click="deleteWidget(widget)" ng-if="action=='edit'">Удалить</button>
                <button type="button" class="btn btn-primary"
                        ng-click="widgetAddForm.$valid && addOrUpdateWidget()" ng-if="action=='edit'">Обновить</button>
            </div>
        </div>
    </div>
</div>