<table class="table table-striped">
    <tbody>
    <tr>
        <td> Состояние правила</td>
        <td>
            <span class="label label-success" ng-if="widget.enabled">Активно</span>
            <span class="label label-info" ng-if="!widget.enabled">Не активно</span>
        </td>
    </tr>
    <tr>
        <td>Влажность почвы</td>
        <td>{{widget.controls.slot1.topic.value}} %, RH</td>
    </tr>
    <tr>
        <td> {{widget.options.option1.name}}</td>
        <td> {{widget.options.option1.value}} %, RH</td>
    </tr>
    <tr>
        <td> {{widget.options.option2.name}}</td>
        <td> {{widget.options.option2.value}} %, RH</td>
    </tr>
    </tbody>
</table>