<table class="table table-striped">
    <tbody>

    <tr>
        <td> Состояние правила</td>
        <td>
            <span class="label label-success" ng-if="widget.enabled">Активно</span>
            <span class="label label-info" ng-if="!widget.enabled">Не активно</span>
        </td>
    </tr>

    <tr>
        <td> Система полива </td>
        <td>
            <span class="label label-success" ng-if="widget.controls.slot1.topic.value">Включена</span>
            <span class="label label-info" ng-if="!widget.controls.slot1.topic.value">Выключена</span>
        </td>
    </tr>

    <tr>
        <td> Объём на сопло (литры) </td>
        <td> {{widget.options.option1.value}} </td>
    </tr>
    <tr>
        <td> Производительность сопла (литры/час)</td>
        <td> {{widget.options.option2.value}}</td>
    </tr>
    <tr>
        <td> {{widget.options.option3.name}} </td>
        <td> {{widget.options.option3.value1}}.{{widget.options.option3.value2}}.{{widget.options.option3.value3}} </td>
    </tr>
    <tr>
        <td> {{widget.options.option4.name}} </td>
        <td> {{widget.options.option4.value1}}.{{widget.options.option4.value2}}.{{widget.options.option4.value3}} </td>
    </tr>
    <tr>
        <td> {{widget.options.option5.name}} </td>
        <td> {{widget.options.option5.value1}}:{{widget.options.option5.value2}} </td>
    </tr>
    <tr>
        <td> {{widget.options.option6.name}} </td>
        <td> {{widget.options.option6.value}} </td>
    </tr>
    </tbody>
</table>