@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	//overflow-x: hidden

.btn
	&.btn-fab.btn-primary
		outline: none
	&.add-element
		position: fixed
		right: 50px
		bottom: 50px
		z-index: 1
	&:not(.btn-raised):not(.btn-link):focus
		background-color: #009688
		color: rgba(255,255,255,.84)

.content
	min-height: 500px
	position: relative

select.form-control[multiple].multiple-select
	min-height: 200px

.edit-widget
	cursor: pointer
	color: $teal-300
	&:hover
		color: $teal-50

.form-group
	margin: 5px 0 0 0
	label
	 margin-bottom: 0

.connection
	line-height: 60px
	margin-right: 20px

.widget-loader
	position: absolute
	right: -33px
	top: 2px
	height: 26px

@import "media" // Всегда в конце
