<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a href="/">Теплицы</a></li>
            <li class="active">{{ dashboard.name }}</li>
        </ul>
        <h1>
            Виджеты
        </h1>
    </div>
</div>

<div masonry='{horizontalOrder: true}' class="grid">

    <div class="col-sm-6 col-md-4 masonry-brick grid-item"
         ng-repeat="widget in dashboard.widgets | orderObjectBy: order" ng-if="!isEmpty(dashboard.widgets)">
        <div class="panel panel-primary widget-pannel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{widget.name}}
                    <span class="pull-right edit-widget" title="Редактировать виджет"
                          ng-if="!widget.enabled"
                          data-toggle="modal" data-target="#widget-dialog" ng-click="editWidgetAction(widget)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                </h3>
            </div>

            <widget-templates></widget-templates>

            <div class="panel-footer text-center" ng-if="detectRule(widget.template)">
                <bootstrap-button
                        ng-model="widget.enabled"
                        ng-click="startRuleOrStopRule(widget.enabled, widget)"
                        ng-disabled="disableButton"
                ></bootstrap-button>
            </div>
        </div>

        <!--<div class="panel-body table-responsive" ng-switch on="widget.template">-->
        <!--<table widget-humidity class="table table-striped" ng-switch-when="humidity"></table>-->
        <!--<table widget-temperature class="table table-striped" ng-switch-when="temperature"></table>-->
        <!--<div ng-switch-default>Неизвестный тип виджета</div>-->
        <!--</div>-->
    </div>

    <div class="sol-sm-12" ng-if="isEmpty(dashboard.widgets)">
        <h2 class="text-center">В теплице нет виджетов</h2>
    </div>
</div>

<button type="button" class="btn btn-primary btn-fab add-element tooltip" data-toggle="modal"
        data-target="#widget-dialog"
        data-original-title="Добавить виджет" data-placement="left" title="Добавить виджет"
        ng-click="addWidgetAction()">
    <i class="material-icons">add</i>
</button>

<widget-dialog></widget-dialog>
