<div class="row">
    <div class="col-xs-12">
        <h1>Теплицы</h1>
    </div>
</div>
<div masonry='{horizontalOrder: true}' class="row grid">

    <div class="col-sm-6 col-md-4 masonry-brick grid-item" ng-repeat="dashboard in dashboards">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-home" aria-hidden="true"></i> {{dashboard.name}}
                    <span class="pull-right edit-widget" title="Редактировать теплицу"
                          data-toggle="modal" data-target="#edit-greenhouse-dialog" ng-click="setGreenhouseForEdit(dashboard)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</span>
                </h3>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="widget in dashboard.widgets" ng-if="!isEmpty(dashboard.widgets)">
                        <td>
                            {{widget.name}}
                        </td>
                        <td ng-switch on="widget.template">
                            <span ng-switch-when="humidity">
                                {{widget.controls.slot0.topic.value}} %, RH
                            </span>

                            <span ng-switch-when="temperature">
                                {{widget.controls.slot0.topic.value}} °C
                            </span>

                            <p ng-switch-when="switch">
                                <span class="label label-success" ng-if="widget.controls.slot0.topic.value">On</span>
                                <span class="label label-info" ng-if="!widget.controls.slot0.topic.value">Off</span>
                            </p>

                            <p ng-switch-default>
                                <span class="label label-success" ng-if="widget.enabled">On</span>
                                <span class="label label-info" ng-if="!widget.enabled">Off</span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-muted text-center" ng-if="isEmpty(dashboard.widgets)">Нет виджетов</p>
            </div>
            <div class="panel-footer text-center">
                <a href="/greenhouse/{{dashboard.uid}}" class="btn btn-raised btn-primary btn-sm">Открыть</a>
            </div>
        </div>
    </div>

</div>

<button type="button" class="btn btn-primary btn-fab add-element tooltip" data-toggle="modal"
        data-target="#add-greenhouse-dialog"
        data-original-title="Добавить теплицу" data-placement="left" title="Добавить теплицу"
        ng-click="greenhouse.name = ''">
    <i class="material-icons">add</i>
</button>

<div class="modal fade" role="dialog" tabindex="-1" id="add-greenhouse-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Добавление теплицы</h4>
            </div>
            <div class="modal-body">

                <form name='greenhouseAddForm' novalidate>
                    <div class="form-group">
                        <label class="control-label" for="greenhouse-name">Название</label>
                        <input type="text" class="form-control" ng-model='greenhouse.name'
                               placeholder="Введите название теплицы" required id="greenhouse-name">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary" ng-disabled="!greenhouseAddForm.$valid" ng-click="greenhouseAddForm.$valid && addOrUpdateGreenhouse()">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="edit-greenhouse-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Редактирование теплицы</h4>
            </div>
            <div class="modal-body">

                <form name='greenhouseEditForm' novalidate>
                    <div class="form-group">
                        <label class="control-label" >Название</label>
                        <input type="text" class="form-control" ng-model='greenhouse.name' required>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-warning" ng-click="deleteGreenhouse(dashboard)">Удалить</button>
                <button type="button" class="btn btn-primary" ng-click="greenhouseEditForm.$valid && addOrUpdateGreenhouse()">Обновить</button>
            </div>
        </div>
    </div>
</div>
